/* General*/

*{
	box-sizing: border-box;
	width: auto;
}


body{
	
	font-family: "Raleway", "sans-serif";
	text-align: center;
	margin: 0;
	padding: 0;
	background-color: #222f35;
}

a{
	text-decoration: none;
}

h2{
	font-size: 3rem;
	margin-top: 15%; 
	margin-bottom: 6%;
	color: white;
}


/* Header */

.container{
	width: 100%;
	min-height: calc(100vh + 120px);
	margin:auto;
	overflow:hidden;
	background: url('../img/topBackground.jpg');
	background-repeat: no-repeat;
	background-size: cover;

}

.name{
	margin-top: 13%;
	font-size: 2.3em;
	color: white;
	
}
.name h1{
	font-size: 2em;
}

.name h2{
	margin-top: 0;
}

header ul{
	margin: 0;
	padding: 0;

}

header li{
	display: inline;
	padding: 2em 0.8em 1em 0.8em;
	color: white;
}

header a{
	color: #ffffff;
	text-decoration: none;
	font-size: 1.5em;

}


/* About me */	

.about{
	background-color: #384d56;
	margin: 0 auto;
	position: relative;
	max-width: 700px;
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	color: white;
	padding: 0 16px 16px;
	margin-top: 100px;
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
}

.about h2{
	width: 100%;
	text-align: center;
	margin: 8px 0;
	display: block;
	padding: 16px;
}


.about img{
	float: left;
	height: 120px;
	width: 200px;
}



.about figure{
	margin: 16px 0;
	text-align: center;
	max-width: 280px;
}



.about p{
	text-align: left;
	text-indent: 32px;
	display: block;
	padding: 0 16px;

}

.aboutText{
	max-width: 350px;
	width: 50%;
	display: block;
}


/* Projects */

.projects{
	margin-top: 270px;
}

.projectsWrapper{
	background-color: #384d56;
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
	max-width: 90%;
	display:flex;
	flex-wrap: wrap;
	width: 80%;
    justify-content: center;
    margin: 0 auto;

}

.project{
	background-color: #70909e;
	max-width: 300px;
	max-height: 630px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 70px;
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
}

.project img{
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 300px;
	width: auto;
	padding: 15px;

}

.project h3{
	font-size: 1.6rem;
	text-align: center;
	padding: 0 16px;
}

.project p{
	display: block;
	text-align: center;
}


.project i{
	font-size: 2rem;
}

.project a{
	color: black;
}

/* Tech Used*/
.techUsed{
	padding-top: 90px;
}

.techIcons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.techIcons i{
    font-size: 9rem;
    color: #8dbbd2;
}


/*Contact*/

.contact{
	font-size: 2rem;
	padding-bottom: 150px;
	color: #70909e;
	margin-top: 90px;
}

.contact a{
	padding: 0 10% 0 10%;
	font-size: 2.5rem;
	color: black;
}



@media (max-width: 400px) {
	*{
		overflow: auto;
	}

	.container{
		background: url('../img/topBackground1.jpg');
		min-height: calc(100vh + 250px);
	}
	.aboutText{
		width:100%;
	}

	.projectsWrapper{
		max-width: 100%;
		width: 100%;
	}

	.project{
		margin: 70px 0;
	}


	.contact p{
		font-size: 1.5rem;
	}

}